Dashboard.json
[
    {
        "id": "f42ca6a39f71ac1b",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b2375856f9079630",
        "type": "mqtt in",
        "z": "f42ca6a39f71ac1b",
        "name": "",
        "topic": "IOTBDA",
        "qos": "2",
        "datatype": "json",
        "broker": "69ed9dada1b55081",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "8db2108d2228fe21",
                "2528b59ec33f81c6",
                "eb81533bf6e42c0b",
                "180a71c3b173f815",
                "4c8b58cc15c7e93e",
                "e5356371d3bd257d",
                "769e607b21656678"
            ]
        ]
    },
    {
        "id": "8db2108d2228fe21",
        "type": "debug",
        "z": "f42ca6a39f71ac1b",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "180a71c3b173f815",
        "type": "ui_gauge",
        "z": "f42ca6a39f71ac1b",
        "name": "",
        "group": "d6cf6ab35bb35620",
        "order": 2,
        "width": "7",
        "height": "6",
        "gtype": "gage",
        "title": "Current HI",
        "label": "°F",
        "format": "{{msg.payload.heat}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#ffe95c",
            "#ff7300",
            "#f00a0a"
        ],
        "seg1": "90",
        "seg2": "125",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "eb81533bf6e42c0b",
        "type": "ui_gauge",
        "z": "f42ca6a39f71ac1b",
        "name": "",
        "group": "e384436f278c215c",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Current Temperature",
        "label": "°C",
        "format": "{{msg.payload.temperature}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#ffe95c",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "32",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "2528b59ec33f81c6",
        "type": "function",
        "z": "f42ca6a39f71ac1b",
        "name": "Function_HI",
        "func": "msg.payload = msg.payload.heat;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 120,
        "wires": [
            [
                "4cd37b45a8fae322"
            ]
        ]
    },
    {
        "id": "4cd37b45a8fae322",
        "type": "ui_chart",
        "z": "f42ca6a39f71ac1b",
        "name": "Hourly Heat Index Variation",
        "group": "d6cf6ab35bb35620",
        "order": 3,
        "width": "7",
        "height": "6",
        "label": "Hourly Heat Index Variation",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Hourly Heat Index Variation",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4c8b58cc15c7e93e",
        "type": "function",
        "z": "f42ca6a39f71ac1b",
        "name": "function_Temperature",
        "func": "msg.payload = msg.payload.temperature;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 240,
        "wires": [
            [
                "148cecf9caf218b5"
            ]
        ]
    },
    {
        "id": "148cecf9caf218b5",
        "type": "ui_chart",
        "z": "f42ca6a39f71ac1b",
        "name": "Hourly Temperature Variation",
        "group": "e384436f278c215c",
        "order": 3,
        "width": "6",
        "height": "6",
        "label": "Hourly Temperature Variation",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Hourly Temperature Variation",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e5356371d3bd257d",
        "type": "ui_gauge",
        "z": "f42ca6a39f71ac1b",
        "name": "",
        "group": "a82d96b3ab67e7b1",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Current Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 300,
        "wires": []
    },
    {
        "id": "769e607b21656678",
        "type": "function",
        "z": "f42ca6a39f71ac1b",
        "name": "function_humidity",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 360,
        "wires": [
            [
                "118450ae8e045436"
            ]
        ]
    },
    {
        "id": "118450ae8e045436",
        "type": "ui_chart",
        "z": "f42ca6a39f71ac1b",
        "name": "Hourly Humidity Variation",
        "group": "a82d96b3ab67e7b1",
        "order": 2,
        "width": "6",
        "height": "6",
        "label": "Hourly Humidity Variation",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Hourly Humidity Variation",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f97c79982f9c43af",
        "type": "inject",
        "z": "f42ca6a39f71ac1b",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "081cfcc6ea3ce823",
                "ef6b96175e007b05",
                "99aa1775dffd4ccb"
            ]
        ]
    },
    {
        "id": "081cfcc6ea3ce823",
        "type": "file in",
        "z": "f42ca6a39f71ac1b",
        "name": "Predict Future Data",
        "filename": "",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 390,
        "y": 500,
        "wires": [
            [
                "ec40e6c66e59c0ac",
                "eda539fa78a54570"
            ]
        ]
    },
    {
        "id": "ef6b96175e007b05",
        "type": "file in",
        "z": "f42ca6a39f71ac1b",
        "name": "Predict Past 2017 Data",
        "filename": "/Users/dilshanperera/Documents/2017.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 390,
        "y": 700,
        "wires": [
            [
                "2da9a4d8d184cbd4",
                "75113f13776a81e4"
            ]
        ]
    },
    {
        "id": "ec40e6c66e59c0ac",
        "type": "csv",
        "z": "f42ca6a39f71ac1b",
        "name": "2017.csv",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\r\\n",
        "temp": "date, hi",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 580,
        "y": 560,
        "wires": [
            [
                "eda539fa78a54570",
                "38ab952720693a70"
            ]
        ]
    },
    {
        "id": "eda539fa78a54570",
        "type": "debug",
        "z": "f42ca6a39f71ac1b",
        "name": "msg.payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 500,
        "wires": []
    },
    {
        "id": "38ab952720693a70",
        "type": "function",
        "z": "f42ca6a39f71ac1b",
        "name": "Function_Future",
        "func": "var payload = msg.payload;\n\nvar data_out = [];\nvar a1 = [];\n\nfor (let i = 0; i < payload.length; i++) {\n    var dt = [];\n    var hum1 = { \"x\": payload[i][\"date\"], \"y\": parseFloat(payload[i][\"hi\"]) };\n\n    a1.push(hum1);\n\n}\n\ndata_out = [a1];\nmsg.payload = [{\n    \"series\": [\"hi\"],\n    \"data\": data_out,\n    \"labels\": [\"Heat Index(HI)\"]\n\n}];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 620,
        "wires": [
            [
                "5a99f5a1d863a5ef",
                "eda539fa78a54570"
            ]
        ]
    },
    {
        "id": "5a99f5a1d863a5ef",
        "type": "ui_chart",
        "z": "f42ca6a39f71ac1b",
        "name": "Heat Index (HI)",
        "group": "9918bccb635f3f3f",
        "order": 1,
        "width": 11,
        "height": 5,
        "label": "Prediction for Future",
        "chartType": "line",
        "legend": "true",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "Heat Index (HI)",
        "dot": true,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "365",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "75113f13776a81e4",
        "type": "debug",
        "z": "f42ca6a39f71ac1b",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 700,
        "wires": []
    },
    {
        "id": "2da9a4d8d184cbd4",
        "type": "csv",
        "z": "f42ca6a39f71ac1b",
        "name": "2017.csv",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\r\\n",
        "temp": "date, hi",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 620,
        "y": 760,
        "wires": [
            [
                "75113f13776a81e4",
                "78ef80fbfe127c26"
            ]
        ]
    },
    {
        "id": "78ef80fbfe127c26",
        "type": "function",
        "z": "f42ca6a39f71ac1b",
        "name": "Function_Past_2017",
        "func": "var payload = msg.payload;\n\nvar data_out = [];\nvar a1 = [];\n\nfor (let i = 0; i < payload.length; i++) {\n    var dt = [];\n    var hum1 = { \"x\": payload[i][\"date\"], \"y\": parseFloat(payload[i][\"hi\"]) };\n\n    a1.push(hum1);\n\n}\n\ndata_out = [a1];\nmsg.payload = [{\n    \"series\": [\"Heat Index (HI)\"],\n    \"data\": data_out,\n    \"labels\": [\"Heat Index (HI)\"]\n\n}];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 880,
        "wires": [
            [
                "75113f13776a81e4",
                "c0396e24c1cf1a47"
            ]
        ]
    },
    {
        "id": "2dd6af34c59b4186",
        "type": "csv",
        "z": "f42ca6a39f71ac1b",
        "name": "2018.csv",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\r\\n",
        "temp": "date,hi",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 540,
        "y": 1120,
        "wires": [
            [
                "e88bf036d6b70fda",
                "a4fb5597a207cba2"
            ]
        ]
    },
    {
        "id": "99aa1775dffd4ccb",
        "type": "file in",
        "z": "f42ca6a39f71ac1b",
        "name": "Predict Past 2018 Data",
        "filename": "/Users/dilshanperera/Documents/2018.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 350,
        "y": 980,
        "wires": [
            [
                "e88bf036d6b70fda",
                "2dd6af34c59b4186"
            ]
        ]
    },
    {
        "id": "e88bf036d6b70fda",
        "type": "debug",
        "z": "f42ca6a39f71ac1b",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 980,
        "wires": []
    },
    {
        "id": "a4fb5597a207cba2",
        "type": "function",
        "z": "f42ca6a39f71ac1b",
        "name": "function_past_2018",
        "func": "var payload = msg.payload;\n\nvar data_out = [];\nvar a1 = [];\n\nfor (let i = 0; i < payload.length; i++) {\n    var dt = [];\n    var hum1 = { \"x\": payload[i][\"date\"], \"y\": parseFloat(payload[i][\"hi\"]) };\n\n    a1.push(hum1);\n\n}\n\ndata_out = [a1];\nmsg.payload = [{\n    \"series\": [\"Heat Index (HI)\"],\n    \"data\": data_out,\n    \"labels\": [\"Heat Index (HI)\"]\n\n}];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1140,
        "wires": [
            [
                "1649adfe36c3fe9c",
                "e88bf036d6b70fda"
            ]
        ]
    },
    {
        "id": "1649adfe36c3fe9c",
        "type": "ui_chart",
        "z": "f42ca6a39f71ac1b",
        "name": "Predictions for Year 2018",
        "group": "6f194a19ddc320ca",
        "order": 2,
        "width": "11",
        "height": 5,
        "label": "Predictions for Year 2018",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "Predictions for Year 2018",
        "dot": false,
        "ymin": "70",
        "ymax": "140",
        "removeOlder": "365",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#507eb9",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "c0396e24c1cf1a47",
        "type": "ui_chart",
        "z": "f42ca6a39f71ac1b",
        "name": "Predictions for Year 2017",
        "group": "6f194a19ddc320ca",
        "order": 1,
        "width": "11",
        "height": 5,
        "label": "Predictions for Year 2017",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "Predictions for Year 2017",
        "dot": false,
        "ymin": "70",
        "ymax": "140",
        "removeOlder": "365",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#507eb9",
            "#ffffff",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "a93a26372652680f",
        "type": "ui_spacer",
        "z": "f42ca6a39f71ac1b",
        "name": "spacer",
        "group": "9918bccb635f3f3f",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "5377f395b95af856",
        "type": "ui_spacer",
        "z": "f42ca6a39f71ac1b",
        "name": "spacer",
        "group": "9918bccb635f3f3f",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "b430b5e3b4f19890",
        "type": "ui_spacer",
        "z": "f42ca6a39f71ac1b",
        "name": "spacer",
        "group": "9918bccb635f3f3f",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "7c9285395eb1a936",
        "type": "ui_spacer",
        "z": "f42ca6a39f71ac1b",
        "name": "spacer",
        "group": "9918bccb635f3f3f",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "d8cd5d9b5ccb8305",
        "type": "ui_spacer",
        "z": "f42ca6a39f71ac1b",
        "name": "spacer",
        "group": "9918bccb635f3f3f",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "69ed9dada1b55081",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d6cf6ab35bb35620",
        "type": "ui_group",
        "name": "Heat Index (HI)",
        "tab": "998f64ac1df255f2",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e384436f278c215c",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "998f64ac1df255f2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a82d96b3ab67e7b1",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "998f64ac1df255f2",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9918bccb635f3f3f",
        "type": "ui_group",
        "name": "Future HI Predictions",
        "tab": "8f56b9b0906b3c79",
        "order": 7,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f194a19ddc320ca",
        "type": "ui_group",
        "name": "Past HI Predictions",
        "tab": "8f56b9b0906b3c79",
        "order": 8,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "998f64ac1df255f2",
        "type": "ui_tab",
        "name": " HOME HEAT INDEX MONITOR",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8f56b9b0906b3c79",
        "type": "ui_tab",
        "name": "PAST & FUTURE PREDICTIONS",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
